<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container">
    <a href="#" class="navbar-brand">Seconda Vita</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 nb-lg-0">
        <li class="nav-item">
          <a href="#" class="nav-link">Vestes</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Pantalons</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Costumes</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Manteaux</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Souliers</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Accessoires</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="home" class="container">
  <app-home></app-home>
</div>
<footer class="h-25 row row-cols-1 row-cols-sm-2 row-cols-md-5 py-2 mx-0 my-2 border-top">
  <div class="col mb-3">
    <a href="#" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
      <p>logo
        <br>
        Copyright &copy; Seconda Vita
      </p>
    </a>
  </div>
  <div class="col mb-3"></div>
  <div class="col mb-3">
    <h5>Liens</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Accueil</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Accueil</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Accueil</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Accueil</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Accueil</a>
      </li>
    </ul>
  </div>
  <div class="col mb-3">
    <h5>Liens</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Accueil</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Accueil</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Accueil</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Accueil</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Accueil</a>
      </li>
    </ul>
  </div>
  <div class="col mb-3">
    <h5>Liens</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Accueil</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Accueil</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Accueil</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Accueil</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">Accueil</a>
      </li>
    </ul>
  </div>
</footer>